<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.rhanjie.lab5_zad5">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lab5_Zad5">

        <activity
            android:name="pl.rhanjie.lab5_zad5.TopLevelActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".OrderActivity"
            android:label="@string/support_panel_title"
            android:parentActivityName=".TopLevelActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TopLevelActivity" />
        </activity>

        <activity android:name=".DrinkCategoryActivity"
            android:parentActivityName=".TopLevelActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TopLevelActivity" />

        </activity>

        <activity android:name=".DrinkActivity"
            android:parentActivityName=".DrinkCategoryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TopLevelActivity" />
        </activity>



        <activity android:name=".SnackCategoryActivity"
            android:parentActivityName=".TopLevelActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TopLevelActivity" />
        </activity>



        <activity android:name=".SnackActivity"
            android:parentActivityName=".SnackCategoryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TopLevelActivity" />
        </activity>


        <activity android:name=".CafeActivity"
            android:parentActivityName=".CafeCategoryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TopLevelActivity" />
        </activity>


        <activity android:name=".CafeCategoryActivity"
            android:parentActivityName=".TopLevelActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TopLevelActivity" />
        </activity>

    </application>

</manifest>